$winter-background-color: #d3e0ea;
$winter-base-color: #1687a7;
$winter-base-color-darker: #276678;
$winter-white-color: #f6f5f5;
$base-font: 'Montserrat', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
